@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html {
  font-size: 62.5%;
  font-family: "Roboto";
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  background-color: #141414;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  height: 100px;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 3rem;
}

.logo {
  color: #21eb00;
}

.container-reiniciar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #21eb00;
  text-align: center;
}

.botao {
  color: #141414;
  font-size: 3rem;
}

.container-contador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
}

.countdown {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.time h2 {
  margin: 0 0 5px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.tempos {
  color: #e6e5e5;
  font-size: 5rem;
}

.abaixo-tempos {
  font-size: 2rem;
  color: #21eb00;
}
